*.o
sw/test_driver_host
sw/test_linux_backend
sw/frodokem_petalinux
sw/frodokem
xsim.dir/
xcelium.d/
*.jou
*.log
cadence-kat.*/
cadence-pio.*/
build-pio/
sw/frodokem_pio
sw/test_pio_host
random-build.*/
sw/test_random_host
